body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.bg {
  /* The image used */
   background-image: url("image/JS--NEW.jpg");
   /* background-image: url("image/js_is_everywhere.png"); */

  /* Full height */
   height: 100%; 

  /* Center and scale the image nicely */
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
} 
.color {
    color: #FFC733
  }

  #myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #FFC733;
    margin-top: 20px;
  }
  #mycls{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    /* background-color: #FFC733;? */
    margin-top: 20px;
  }
  .iot{
    background-color: white;
    
  }
  .text-color{
      color :black;
  }
  .active, .text-color:hover {
    color: #FFC733;
  }
  

  /* #fontend {
    width: 50%;
    margin-left: 28%;
    padding: 50px 0;
    text-align: center;
    background-color: width;
    margin-top: 20px;
  } */
  .box {
    width: 50%;
    margin-left: 26%;
    padding: 50px 0;
    text-align: center;
    background-color: width;
    margin-top: 20px;
  }

  .box_img {
    width: 70%;
    /* margin-left: 26%; */
    padding: 50px 0;
    text-align: center;
    background-color: width;
    margin-top: 20px;
  }

  .tec-color{
    color: black;
    text-decoration: none;
    
  }
  .tec-color:hover{
    color: black;
  }
  /* html {
    scroll-behavior: smooth;
  } */